<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TopicListController</servlet-name>
        <servlet-class>Controller.TopicListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicFilterController</servlet-name>
        <servlet-class>Controller.TopicFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicSearchController</servlet-name>
        <servlet-class>Controller.TopicSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTopicController</servlet-name>
        <servlet-class>Controller.EditTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTopicController</servlet-name>
        <servlet-class>Controller.AddTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalTopicListController</servlet-name>
        <servlet-class>Controller.ApprovalTopicListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalTopicFilterController</servlet-name>
        <servlet-class>Controller.ApprovalTopicFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalTopicSearchController</servlet-name>
        <servlet-class>Controller.ApprovalTopicSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalTopicSortController</servlet-name>
        <servlet-class>Controller.ApprovalTopicSortController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveTopicUpdateStatusController</servlet-name>
        <servlet-class>Controller.ApproveTopicUpdateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EssayTypeListController</servlet-name>
        <servlet-class>Controller.EssayTypeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EssayTypeSearchController</servlet-name>
        <servlet-class>Controller.EssayTypeSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EssayTypeSortController</servlet-name>
        <servlet-class>Controller.EssayTypeSortController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEssayTypeController</servlet-name>
        <servlet-class>Controller.AddEssayTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEssayTypeController</servlet-name>
        <servlet-class>Controller.EditEssayTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApprovedTopicController</servlet-name>
        <servlet-class>Controller.ViewApprovedTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTopicDetailController</servlet-name>
        <servlet-class>Controller.ViewTopicDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitedEssaySearchController</servlet-name>
        <servlet-class>Controller.SubmitedEssaySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitedEssayListController</servlet-name>
        <servlet-class>Controller.SubmitedEssayListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWriterEssayController</servlet-name>
        <servlet-class>Controller.CreateWriterEssayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserUpdateController</servlet-name>
        <servlet-class>Controller.AdminUserUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserCreateController</servlet-name>
        <servlet-class>Controller.AdminUserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewListController</servlet-name>
        <servlet-class>Controller.AdminNewListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewsUpdateController</servlet-name>
        <servlet-class>Controller.AdminNewsUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewsDeleteController</servlet-name>
        <servlet-class>Controller.AdminNewsDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllEssayPageController</servlet-name>
        <servlet-class>Controller.ShowAllEssayPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLevelController</servlet-name>
        <servlet-class>DeleteLevelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHomePageController</servlet-name>
        <servlet-class>Controller.GetHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreRateController</servlet-name>
        <servlet-class>Controller.ScoreRateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllEssayPageController</servlet-name>
        <url-pattern>/ShowAllEssayPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLevelController</servlet-name>
        <url-pattern>/DeleteLevelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHomePageController</servlet-name>
        <url-pattern>/GetHomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreRateController</servlet-name>
        <url-pattern>/ScoreRateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTopicController</servlet-name>
        <url-pattern>/edittopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTopicController</servlet-name>
        <url-pattern>/addtopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicListController</servlet-name>
        <url-pattern>/topiclist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicFilterController</servlet-name>
        <url-pattern>/topicfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicSearchController</servlet-name>
        <url-pattern>/topicsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalTopicListController</servlet-name>
        <url-pattern>/approvaltopiclist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalTopicFilterController</servlet-name>
        <url-pattern>/approvaltopicfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalTopicSearchController</servlet-name>
        <url-pattern>/approvaltopicsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalTopicSortController</servlet-name>
        <url-pattern>/approvaltopicsort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveTopicUpdateStatusController</servlet-name>
        <url-pattern>/approvetopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EssayTypeListController</servlet-name>
        <url-pattern>/essaytypelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EssayTypeSearchController</servlet-name>
        <url-pattern>/essaytypesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EssayTypeSortController</servlet-name>
        <url-pattern>/essaytypesort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEssayTypeController</servlet-name>
        <url-pattern>/addessaytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEssayTypeController</servlet-name>
        <url-pattern>/editessaytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApprovedTopicController</servlet-name>
        <url-pattern>/viewapprovedtopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTopicDetailController</servlet-name>
        <url-pattern>/viewtopicdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitedEssaySearchController</servlet-name>
        <url-pattern>/submitedessaysearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitedEssayListController</servlet-name>
        <url-pattern>/submitedessaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWriterEssayController</servlet-name>
        <url-pattern>/createWriterEssay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserUpdateController</servlet-name>
        <url-pattern>/admin/users-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserCreateController</servlet-name>
        <url-pattern>/admin/users-create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewListController</servlet-name>
        <url-pattern>/admin/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewsUpdateController</servlet-name>
        <url-pattern>/admin/news-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewsDeleteController</servlet-name>
        <url-pattern>/admin/news-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
